<a href="https://colab.research.google.com/github/Ricardomanuel1/Maestria_Ciencia_de_Datos/blob/main/III.%20Matematica_Ciencia_Datos/2_Permutaciones_y_Combinaciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Permutaciones

In [2]:
from itertools import permutations

## Calculando las permutaciones de tamaño n

In [3]:
S=["H1", "H2","M1","M2"]
perm = permutations(S)
for i in list(perm):
    print (i)

('H1', 'H2', 'M1', 'M2')
('H1', 'H2', 'M2', 'M1')
('H1', 'M1', 'H2', 'M2')
('H1', 'M1', 'M2', 'H2')
('H1', 'M2', 'H2', 'M1')
('H1', 'M2', 'M1', 'H2')
('H2', 'H1', 'M1', 'M2')
('H2', 'H1', 'M2', 'M1')
('H2', 'M1', 'H1', 'M2')
('H2', 'M1', 'M2', 'H1')
('H2', 'M2', 'H1', 'M1')
('H2', 'M2', 'M1', 'H1')
('M1', 'H1', 'H2', 'M2')
('M1', 'H1', 'M2', 'H2')
('M1', 'H2', 'H1', 'M2')
('M1', 'H2', 'M2', 'H1')
('M1', 'M2', 'H1', 'H2')
('M1', 'M2', 'H2', 'H1')
('M2', 'H1', 'H2', 'M1')
('M2', 'H1', 'M1', 'H2')
('M2', 'H2', 'H1', 'M1')
('M2', 'H2', 'M1', 'H1')
('M2', 'M1', 'H1', 'H2')
('M2', 'M1', 'H2', 'H1')

## Calculando las permutaciones de tamaño r de un total de n.

In [4]:
S=[1, 2,3,4]

In [5]:
# Obtener todas las permutaciones de tamaño 2
S=[1, 2,3,4]
perm = permutations(S, 3)
for i in list(perm):
    print (i)

(1, 2, 3)
(1, 2, 4)
(1, 3, 2)
(1, 3, 4)
(1, 4, 2)
(1, 4, 3)
(2, 1, 3)
(2, 1, 4)
(2, 3, 1)
(2, 3, 4)
(2, 4, 1)
(2, 4, 3)
(3, 1, 2)
(3, 1, 4)
(3, 2, 1)
(3, 2, 4)
(3, 4, 1)
(3, 4, 2)
(4, 1, 2)
(4, 1, 3)
(4, 2, 1)
(4, 2, 3)
(4, 3, 1)
(4, 3, 2)

# Combinaciones

In [6]:
from itertools import combinations

## Calculando las combinaciones de tamaño r de un total de n.

In [7]:
S=[1,2,3,4,5]
comb = combinations(S, 2)
for i in list(comb):
    print (i)

(1, 2)
(1, 3)
(1, 4)
(1, 5)
(2, 3)
(2, 4)
(2, 5)
(3, 4)
(3, 5)
(4, 5)

# Combinaciones con Reposición

In [8]:
from itertools import combinations_with_replacement

## Calculando las combinaciones con reposición de tamaño r de un total de n.

In [9]:

S=[1,2,3,4]
comb = combinations_with_replacement(S, 2)
for i in list(comb):
    print (i)

(1, 1)
(1, 2)
(1, 3)
(1, 4)
(2, 2)
(2, 3)
(2, 4)
(3, 3)
(3, 4)
(4, 4)

# Funciones en Python

## Factorial

In [10]:
# Factorial
def fact(n):
  if n == 0:
    return 1
  if n == 1:
    return 1
  else:
    return n * fact(n-1)

In [11]:
fact(5)

120

In [12]:
fact(0)

1

In [13]:
fact(8)/fact(6)

56.0

## Permutación

In [14]:
# Permutación
def Perm(n,k):
  if n <k :
    return "No valido"
  else:
    return fact(n)/fact(n-k)

In [15]:
Perm(5,2)

20.0

In [16]:
Perm(5,5)

120.0

## Combinación

In [17]:
# Combinación
def Comb(n,k):
  if n <k :
    return "No valido"
  else:
    return fact(n)/(fact(k)*fact(n-k))

In [18]:
Comb(6,2)

15.0

In [19]:
Comb(6,3)

20.0

In [20]:
Comb(6,2)+Comb(6,3)

35.0

In [21]:
Comb(7,3)

35.0

In [22]:
Comb(6,3)*Comb(4,0)/Comb(10,3)

0.16666666666666666

# Ejemplos

1. Carlos, Pedro, Manuel y Sandra correrán los 100
metros planos. ¿De cuántas formas puede
quedar el podio de primer y segundo lugar? Solo
competirán ellos cuatro.

2. ¿De cuántas formas se puede preparar una
ensalada de frutas con solo 2 ingredientes, si se
cuenta con plátano, manzana y uva?

3. En una estantería hay 6 libros de matemáticas y 3 de física. Queremos seleccionar 2 de cada. ¿De cuántas maneras podemos hacerlo?

4. Todas las personas que asisten a una reunión se estrechan la mano. Si hubo 105 apretones, ¿cuántas personas asistieron?

5. Con 4 frutas diferentes, ¿Cuántos jugos surtidos se pueden preparar?. Además, un jugo surtido se prepara con al menos 2 frutas.

6. ¿Cuántas palabras diferentes se pueden formar con las letras de la palabra REMEMBER?

In [34]:
#R se repite 2,E se repite 3,M se repite 2 y B se repite 1
a=fact(8)/(fact(2)*fact(3)*fact(2)*fact(1))
print(a)

1680.0

7. Determinar la cantidad de formas posibles de organizar las letras de la palabra TALLAHASSEE de tal forma que las letras A's no esten juntas.

In [50]:
total_formas=fact(11)/(fact(3)*fact(2)*fact(2)*fact(2))
total_formas

831600.0

In [54]:
las_A_juntas=Perm(9,9)#considerando como un bloque las As repetidas
las_A_juntas

362880.0

In [57]:
formas_As_No_juntas=total_formas-las_A_juntas
formas_As_No_juntas

468720.0

8. ¿De cuántas formas se pueden sentar 6 amigos alrededor de una mesa circular?

In [28]:
fact(5)

120

9. En un grupo de 6 amigos, hay una pareja de novios. ¿De cuántas maneras pueden sentarse alrededor de una fogata, si los novios deben sentarse siempre juntos?

In [32]:
fact(4)*2#considerando a la pareja como una sola persona luego fac(4) pero hay dos formas distintas que pueden ubicarse la pareja

48

10. Supongamos que hay tres hombres y dos mujeres.
*   (a) ¿De cuántas maneras pueden posar en línea para una fotografía grupal?
*   (b) ¿De cuántas maneras pueden colocarse en línea si una mujer debe estar en cada extremo?
*   (c) ¿De cuántas maneras pueden colocarse en línea si las mujeres no deben ubicarse en los extremos?
*   (d) ¿De cuántas maneras las personas del mismo sexo están juntas?
*   (e) ¿De cuántas maneras las mujeres están separadas?

In [35]:
#Ejercicio a
a=Perm(5,5)
a

120.0

In [37]:
#Ejercicio b
b=Perm(2,2)*Perm(3,3)
b

12.0

In [48]:
#Ejercicio C
Num_mujeres_extremo=12#Calculado en la pregunta b
total_maneras=120#Calculado en la pregunta a

Num_mujeres_No_extremo=total_maneras-Num_mujeres_extremo

Num_mujeres_No_extremo

108

In [40]:
#Ejercicio d
d=Perm(2,2)*Perm(2,2)*Perm(3,3)#el primero es para ordenar al grupo del mismo sexo,el segundo el ordenamiento de mujeres y el tercero el ordenamiento de hombre
d

24.0

In [44]:
#Ejercicio e
Num_Mujeres_juntas=Perm(4,4)*Perm(2,2)#Cosiderando a las mujeres como un bloque x el ordenamiento de las mujeres

total_maneras=120#calculado en a

Num_Mujeres_No_juntas=total_maneras-Num_Mujeres_juntas
Num_Mujeres_No_juntas

72.0