<a href="https://colab.research.google.com/github/Ricardomanuel1/Maestria_Ciencia_de_Datos/blob/main/3.%20Pandas/Trabajo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import random
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/MAESTRIA CIENCIA DE DATOS UCSP/PROGRAMACION/housesBrazil.csv")

In [209]:
df[1:3000]

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
1,1,0,64,2,1,1,10,acept,not furnished,540,820,122,11,1493
2,2,1,443,5,5,4,3,acept,furnished,4172,7000,1417,89,12680
3,3,1,73,2,2,1,12,acept,not furnished,700,1250,150,16,2116
4,4,1,19,1,1,0,-,not acept,not furnished,0,1200,41,16,1257
5,5,1,13,1,1,0,2,acept,not furnished,0,2200,42,28,2270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2995,1,200,2,1,0,-,acept,not furnished,Incluso,2800,291,43,3134
2996,2996,1,520,3,4,3,-,acept,furnished,0,7000,645,106,7751
2997,2997,1,112,3,2,1,8,acept,not furnished,810,3850,98,49,4807
2998,2998,1,104,3,2,1,-,not acept,not furnished,0,7500,267,113,7880
2999,2999,1,90,1,1,0,1,not acept,not furnished,200,1550,167,20,1937

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6080 entries, 0 to 6079
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      6080 non-null   int64
 1   city            6080 non-null   int64
 2   area            6080 non-null   int64
 3   rooms           6080 non-null   int64
 4   bathroom        6080 non-null   int64
 5   parking spaces  6080 non-null   int64
 6   floor           6080 non-null   object
 7   animal          6080 non-null   object
 8   furniture       6080 non-null   object
 9   hoa             6080 non-null   object
 10  rent amount     6080 non-null   int64
 11  property tax    6080 non-null   object
 12  fire insurance  6080 non-null   int64
 13  total           6080 non-null   int64
dtypes: int64(9), object(5)
memory usage: 665.1+ KB

In [ ]:
df.shape

(6080, 14)

1.- Tpos de datos por columna

In [ ]:
from pandas.core.dtypes.dtypes import dtypes
df.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount        int64
property tax      object
fire insurance     int64
total              int64
dtype: object

**2. Genere un análisis estadistico general**

In [212]:
df.describe()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,rent amount,fire insurance,total
count,6080.00000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,3039.50000,0.863322,151.143914,2.492599,2.341612,1.756250,4395.844408,58.204276,6033.194572
std,1755.28915,0.343535,375.559485,1.129665,1.438860,1.611909,3576.668946,49.313441,8751.347700
min,0.00000,0.000000,10.000000,1.000000,1.000000,0.000000,420.000000,3.000000,660.000000
25%,1519.75000,1.000000,58.000000,2.000000,1.000000,1.000000,1800.000000,23.000000,2451.500000
50%,3039.50000,1.000000,100.000000,3.000000,2.000000,1.000000,3111.000000,41.000000,4128.500000
75%,4559.25000,1.000000,200.000000,3.000000,3.000000,2.000000,5952.500000,77.000000,8074.000000
max,6079.00000,1.000000,24606.000000,10.000000,10.000000,12.000000,45000.000000,677.000000,372700.000000

3. Creas una base de datos sólo con los datos númericos(float e int), revisar si alguna columna tiene datos de tipo objeto que deberían que deberían ser del tipo int o float.

Las columnas deben pasarse al tipo int son la siguientes:
'floor','hoa','property tax',

In [234]:
df1=df[(df["floor"]!="-") & (df["property tax"]!="Incluso") & (df["hoa"]!="Incluso") & (df["hoa"]!="Sem info")] #filtramos aquellos registros que no contengan en la columna floor -

In [235]:
df1["floor"]=df1["floor"].astype(int)

<ipython-input-235-c2df788c8277>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["floor"]=df1["floor"].astype(int)

In [236]:
df1["property tax"]=df1["property tax"].astype(int)

<ipython-input-236-22783498711c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["property tax"]=df1["property tax"].astype(int)

In [237]:
df1["hoa"]=df1["hoa"].astype(int)

<ipython-input-237-2df3f02cccda>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["hoa"]=df1["hoa"].astype(int)

In [238]:
df1.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor              int64
animal            object
furniture         object
hoa                int64
rent amount        int64
property tax       int64
fire insurance     int64
total              int64
dtype: object

In [217]:
 df["hoa"]=="Incluso"

0       False
1       False
2       False
3       False
4       False
        ...
6075    False
6076    False
6077    False
6078    False
6079    False
Name: hoa, Length: 6080, dtype: bool

In [ ]:
df1["hoa"].unique()

array(['540', '4172', '700', ..., '628', '4916', '1764'], dtype=object)

In [ ]:
df1["hoa"].head(1000)

1        540
2       4172
3        700
5          0
6       1950
        ...
1317    2435
1318    1700
1319      90
1320    1037
1321     762
Name: hoa, Length: 1000, dtype: object

In [ ]:
df1["hoa"]=df1["hoa"].astype(int)

ValueError: ignored

In [ ]:
df1["hoa"].unique()

array(['540', '4172', '700', ..., '628', '4916', '1764'], dtype=object)

In [ ]:
df1["property tax"].unique()

array(['122', '1417', '150', '42', '375', '67', '109', '0', '20', '130',
       '2805', '11', '634', '227', '46', '64', '400', '1084', '250', '50',
       '25', '952', '192', '775', '1299', '3334', '265', '959', '90',
       '10', '65', '488', '259', '49', '417', '283', '783', '53', '30',
       '97', '288', '80', '28', '279', '292', '48', '284', '60', '261',
       '380', '1121', '255', '144', '313', '84', '94', '875', '112',
       '167', '138', '100', '820', '790', '3500', '217', '360', '209',
       '180', '440', '21', '907', '212', '1', '45', '734', '63', '1267',
       '148', '1000', '1950', '1102', '14', '76', '320', '59', '170',
       '434', '172', '334', '735', '1059', '423', '13', '556', '188',
       '750', '242', '317', '116', '303', '804', '2084', '670', '1458',
       '95', '692', '66', '240', '517', '1467', '690', '185', '419',
       '700', '605', '859', '2250', '137', '267', '1875', '1424', '120',
       '110', '92', '9', '542', '43', '842', '35', '350', '205', '105',
       '85', '264', '402', '1584', '126', '1500', '550', '196', '312',
       '83', '213', '234', '159', '200', '1224', '254', '260', '75',
       '1667', '177', '448', '409', '1605', '1834', '40', '667', '78',
       '175', '291', '475', '730', '541', '1125', '117', '86', '1111',
       '125', '444', 'Incluso', '442', '559', '1200', '500', '182',
       '1091', '218', '2647', '72', '68', '522', '203', '17', '450',
       '384', '157', '383', '251', '495', '142', '573', '230', '834',
       '198', '900', '89', '3084', '917', '1167', '176', '286', '208',
       '584', '1119', '252', '223', '184', '195', '413', '248', '600',
       '1398', '70', '679', '93', '47', '870', '642', '37', '253', '3',
       '566', '543', '2506', '1830', '391', '890', '1410', '15', '231',
       '328', '133', '140', '570', '324', '128', '155', '71', '470',
       '604', '221', '26', '7', '4', '121', '620', '165', '361', '3400',
       '38', '36', '151', '280', '134', '888', '24', '104', '160', '873',
       '16', '124', '2709', '5470', '1325', '330', '660', '1438', '426',
       '437', '73', '407', '1589', '725', '115', '569', '468', '79',
       '1110', '229', '371', '858', '594', '630', '513', '319', '162',
       '145', '183', '1046', '657', '965', '171', '525', '210', '472',
       '589', '132', '398', '1100', '1375', '262', '4400', '385', '617',
       '27', '715', '2590', '44', '843', '154', '101', '2936', '355',
       '3151', '1449', '583', '300', '239', '717', '486', '298', '650',
       '1150', '169', '680', '322', '41', '403', '926', '131', '18', '31',
       '81', '34', '709', '960', '597', '238', '342', '899', '318',
       '1974', '158', '452', '1750', '1963', '33', '23', '529', '1678',
       '459', '1190', '233', '258', '348', '850', '256', '74', '876',
       '515', '552', '575', '446', '114', '293', '52', '414', '289',
       '190', '305', '332', '308', '1529', '1250', '3520', '77', '257',
       '387', '1947', '220', '648', '892', '275', '1454', '601', '803',
       '54', '382', '359', '995', '135', '2863', '405', '1192', '12',
       '96', '622', '82', '757', '724', '211', '492', '225', '940', '215',
       '732', '69', '1270', '1184', '764', '87', '2977', '365', '347',
       '29', '792', '1466', '352', '975', '555', '590', '366', '57',
       '390', '119', '166', '1521', '4830', '467', '626', '1223', '532',
       '1334', '2588', '545', '2300', '2792', '297', '363', '518', '181',
       '174', '967', '1209', '61', '609', '1480', '108', '484', '424',
       '3700', '245', '1067', '411', '828', '998', '1350', '1679', '1684',
       '579', '2180', '711', '586', '2704', '5', '325', '2260', '490',
       '606', '2000', '798', '272', '778', '386', '1440', '55', '3772',
       '294', '152', '374', '2849', '2860', '321', '99', '3120', '433',
       '963', '2682', '937', '349', '1435', '966', '5917', '1157', '56',
       '309', '62', '5700', '1600', '3000', '39', '268', '247', '290',
       '344', '163', '800', '751', '146', '1650', '429', '846', '825',
       '1336', '777', '422', '1400', '560', '1792', '1042', '1671', '22',
       '2475', '691', '984', '706', '8', '336', '58', '1356', '5000',
       '1112', '2649', '1405', '204', '1025', '814', '1813', '232', '503',
       '2417', '149', '370', '478', '817', '191', '415', '1080', '129',
       '2658', '1193', '2167', '1550', '88', '1312', '498', '156', '1385',
       '178', '5032', '123', '5200', '874', '2236', '277', '197', '997',
       '2209', '3243', '830', '547', '686', '307', '770', '483', '445',
       '276', '107', '91', '263', '51', '915', '580', '2441', '313700',
       '427', '687', '201', '910', '5160', '1659', '1468', '740', '194',
       '1261', '527', '624', '1917', '1305', '351', '638', '809', '141',
       '235', '625', '1434', '505', '2105', '520', '1040', '521', '878',
       '2779', '1163', '340', '534', '127', '857', '641', '1450', '719',
       '2488', '315', '299', '98', '807', '1896', '643', '106', '990',
       '226', '1225', '479', '113', '841', '880', '199', '2500', '331',
       '1396', '206', '727', '1420', '1034', '111', '19', '102', '464',
       '928', '499', '974', '3368', '379', '531', '377', '955', '1514',
       '6', '1265', '356', '782', '871', '639', '1942', '241', '491',
       '482', '1256', '1020', '704', '860', '1195', '694', '455', '1692',
       '646', '1770', '339', '372', '3063', '202', '369', '118', '1092',
       '608', '754', '615', '1015', '420', '1187', '1211', '393', '139',
       '236', '3917', '554', '314', '507', '147', '745', '1672', '2620',
       '2661', '460', '973', '2469', '780', '506', '3461', '1323', '822',
       '489', '1146', '270', '1115', '454', '2400', '1751', '224', '189',
       '1057', '2650', '1999', '1534', '1648', '301', '164', '1230',
       '458', '568', '480', '736', '799', '787', '1050', '477', '103',
       '7859', '1180', '389', '1071', '659', '310', '1702', '1409',
       '1165', '2507', '1212', '852', '678', '4520', '1292', '614', '943',
       '421', '674', '739', '2386', '1240', '143', '1551', '502', '2173',
       '761', '378', '302', '396', '237', '1816', '243', '341', '487',
       '540', '1975', '1980', '934', '1284', '3167', '2364', '1615',
       '616', '1149', '1308', '2567', '854', '832', '563', '406', '510',
       '710', '891', '2667', '463', '628', '10830', '786', '343', '1800',
       '161', '367', '524', '3565', '1105', '567', '902', '4900', '882',
       '1021', '416', '266', '818', '1219', '862', '631', '432', '592',
       '136', '571', '929', '1218', '806', '1737', '2014', '295', '1742',
       '2750', '640', '323', '1580', '2050', '504', '1272', '246', '1700',
       '153', '784', '1588', '1140', '1118', '216', '435', '179', '633',
       '1484', '2482', '898', '366300', '645', '539', '591', '4000',
       '285', '1252', '394', '996', '465', '2200', '1335', '2434', '1210',
       '665', '742', '282', '931', '1081', '333', '1144', '1035', '428',
       '193', '738', '514', '2470', '1203', '207', '273', '418', '2599',
       '2900', '3025', '466'], dtype=object)

In [ ]:
df1["property tax"]=df1["property tax"].astype(int)

ValueError: ignored

In [ ]:
df1["hoa"]=df1["hoa"].astype(int)

ValueError: ignored

In [ ]:
df1.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor              int64
animal            object
furniture         object
hoa               object
rent amount        int64
property tax      object
fire insurance     int64
total              int64
dtype: object

4. Guardar la base de datos con el nombre  baseDatosNueva.csv(No debe contener los indices)

5. Cargar base.DatosNueva.csv e calcular por cada columna, la cantidad de datos que hay, el máximo, el mínimo, la suma de los datos por columna.

  6. Dibujar un scatter plot de la relación entre cantidad de "room" vs "area" y "rent amount" vs property tax

7. Calcular el valor medio de cada columna. Con las columnas en posición par sumar el valor medio y en posición impar restar el valor medio, actulaizar los valores de la columna (no realizar este proceso en la columna "total")

8. La columna "total", se actualizará de la siguiente manera, calcular el máximo y el minimo para calcular la diferencia entre ellos (diff=máximo-mínimo) y dividir entre 3 (a=diff/3), de tal forma que se tiene los siguientes intervalos [min, min +a, min 2*a,max], por lo tanto los valores de la columna "total" que se encuentran entre el [min, min +a], se cambian por 1, los que están entre [min+a,min+2a],por 2 y los que quedan cambian por 3 ([x,y], mayor igual a x, menor que y)

9. Guardar la base de datos con otro nombre

10. Por otro lado, solo con la primera columna de baseDatosNueva.csv, realizar lo siguiente(numpy):
- Indicar la cantidad de elementos
- Guardar los primeros 100 elementos en un arreglo de tipo ndarray
- Calcular la suma de los mismos
- Calcular el promedio
- Indicar en qué posición o posiciones están los elementos máximos y mínimos (devolver las posiciones en una lista)